<!DOCTYPE html>
<html lang="en">

<head> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
</head>

<body>
    <div>
      <h1>Tebak topik!</h1><br>
    </div>

    <p>atau ambil dari database: </p>

    <form class="form-horizontal text-center" action = "{{ url_for('home') }}" method ="post">
        <button type="submit" class="button btn btn-default">Crawling dan Prediksi</button>
    </form>

    <h1> {{ count }}</h1>
    {% if(count == 0) %}
    <h2> Tidak ada Data</h2>
    {% else %}
    <h2> VISUALISASI DATA</h2>


    {%for topic in topic_list%}
        <li>
            <a href = "{{ url_for('getTopik' ,topik=topic) }}">{{topic}}</a>
        </li>
    {%endfor%}



    <h1>Charts, Charts, Charts</h1>
        <div class="container">
          <div style="display: flex; justify-content: flex-end"; class="row">
              <div class="col-6 chart">
                  <canvas id="myChart" width="400" height="400"></canvas>
              </div>
              <div class="col-6 chart">
                  <canvas id="myChart2" width="800" height="400"></canvas>
              </div>
          </div>
        </div>
        
        <script>
        let labels1 = JSON.parse('{{sentiment_labels|tojson}}');
        let data1 = JSON.parse('{{sentiment_values|tojson}}');
        let colors1 = ['#49A9EA','#36CAAB','#36CCCB'];

        let myDoughnutChart = document.getElementById("myChart").getContext('2d');

        let chart1 = new Chart(myDoughnutChart, {
            type: 'doughnut',
            data: {
                labels: labels1,
                datasets: [ {
                    data: data1,
                    backgroundColor: colors1
                }]
            },
            options: {
                title: {
                    text: "Sentimen tentang BNI:",
                    display: true
                }
            }, 
        });

        let labels2 = JSON.parse('{{topic_labels|tojson}}');
        let data2 =  JSON.parse('{{topic_values|tojson}}');

        // let colors2 = ['#49A9EA', '#36CAAB', '#34495E', '#B370CF'];

        let myChart2 = document.getElementById("myChart2").getContext('2d');

        let chart2 = new Chart(myChart2, {
            type: 'bar',
            data: {
                labels: labels2,
                datasets: [ {
                    data: data2,
                    // backgroundColor: colors2
                }]
            },
            options: {
                title: {
                    text: "Topik-topik terkait BNI yang muncul:",
                    display: true
                },
                legend: {
                  display: false
                }
                // ,
                // onClick: function handleClick(evt){
                // var activeElement = chart2.getElementsAtEvent(evt);
                // var label = activeElement[0]._model.label;
                // alert('GA PAKE SWITCH KE topik '+label);
                // window.open('/'+label);

                // switch (label) {
                // case 'rekening':
                //     alert('Ke topik '+label);
                //     window.open('/'+label);
                //     break;
                // case 'tapcash':
                //     alert('Ke topik '+label);
                //     window.open('/'+label);
                //     break;
                //  }
            }   
        });
        </script>


    {% endif %}
</body>