<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/css/style.css">

<style>
  * {
      font-family: "Rubik", "sans-serif";
  }
  div {
      text-align: center;
      margin-top: 30px;
  }
  h1 {
      color: rgb(135, 15, 135);
      font-size: 40pt;
  }
  p {
      font-size: 16pt;
  }
</style>


<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Pilih topik lain:</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="http://127.0.0.1:5000/tapcash">TapCash</a> <!-- nanti diotomasi (for loop) masukin kategori2 lain-->
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </div>
  </div>

<div>
  <h1>Rekening</h1><br>
</div>

{% for table in result_table %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}
<script src="dropdown.js"></script>
